/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,textarea {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
    word-wrap:break-word;
    word-break:break-all;
    font-weight: normal;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}
input, img, select {vertical-align:middle;}
ul,li {list-style: none;}
body {
    font-family: arial,Tahoma, Verdana, sans-serif;
    color:#333;
    position: relative;
    /*background: #fafafa;*/
    height: 100%;
    background: #fff;
    font-size: .14rem;
    -webkit-overflow-scrolling: touch;/*滚动条触碰时出现*/
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}
html {
    font-size: 100%;
    height: 100%;
    /*background: #fafafa;*/
    background: #fff;
    overflow-x: hidden;/* 解决横向滚动条的问题，待优化 */
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}
:focus {outline: 0;}
ins {text-decoration: none;}
del,.del-line {text-decoration: line-through;}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/** float **/
.float-left{float:left}
.float-right{float:right}
.ds-block {
    display: block!important;
}
/* clearfix */
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
a {
    text-decoration: none;
    color:#08b292;
    vertical-align:baseline;
}
img { max-width: 100%;}
