*{word-break:break-all;word-wrap:break-word;}
div,p,form,h1,h2,h3,h4,h5,h6,input,textarea,span,label{margin:0;padding:0;}
body{font-size:14px;font-family: "Microsoft YaHei";margin:0;padding:0;color:#676767;background:#fff;}
input,textarea{font-family:"Microsoft YaHei";font-size:16px;}
textarea{resize:none;outline:none;}
dl,dd,dt,ul,li,ol{list-style-type:none;margin:0;padding:0;}
a{outline:none;text-decoration:none;}
img{vertical-align:middle;}
i{font-style:normal;}
.infolist{position:relative;color:#494949;min-height:.38rem;margin:.05rem 0;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;width:100%;float:left;clear:both;}
lable{position:absolute;width:5em;left:0;top:0;overflow:hidden;height:.22rem;padding:.08rem 0;line-height:.22rem; font-size: .24rem;}

.infolist .liststyle span{position:relative;display:inline-block;border:1px solid #d2d2d2;border-radius:.05rem;padding:0 0 0 .08rem;cursor:pointer;background:white;float:left;margin-right:.09rem;margin-bottom:.1rem;}
.infolist .liststyle span i{font-size: .24rem;display:inline-block;padding:.1rem;position:relative;}
.infolist .liststyle span i:after{content:"";display:block;width:.2rem;position:absolute;right:0;top:0;background-image:url(../images/jt_nor.png);background-repeat:no-repeat;background-position:0 center;background-size:.1rem auto;}

.infolist .liststyle span ul{width:100%;border-radius:0 0 .05rem .05remx;position:absolute;border:1px solid #E8E8E8;background:white;left:-1px;top:.36rem;border-top:0;margin-bottom:.10rem;display:none;z-index:10;}
.infolist .liststyle span ul li{width:100%;float:left;overflow:hidden;border-top:1px solid #E8E8E8;}
.infolist .liststyle span ul li:first-child{border-top:0;}
.infolist .liststyle span ul li a{display:block;height:.36rem;line-height:.36rem;padding:0 .08rem;color:#494949;}
.infolist .liststyle span.baseLen{width: 31.6%;} 
.infolist .area-input{
    width: 98.6%;
    padding: .1rem;
    outline: none;
    margin: 0;
    font-size: .22rem;
    border: 1px solid #d2d2d2;
    color: #636262;
}
.liststyle{
    width: 72.6%;
    display: inline-block;
    vertical-align: middle;
}
#ul-Province,#ul-city,#ul-area{
    height: 4rem;
    overflow: auto;
    font-size:.24rem;
}
#project-span{
    vertical-align: top;
}