html{
font-size: 100px;
}
/* box开始 */
.box {
	margin: 0 .2rem;
	background: #fff;	
}
.head{
	margin: 0 .2rem;
	border-bottom: 0.01rem dashed #000;
}
.head h1{
	padding: 0.2rem 0.15rem 0.4rem;
}
.head img{
	width: 100%
}
.first .first_img{
	display: block;
	width: 0.7rem;
	height: 0.47rem;
	margin: 0 auto;
	padding: 0.1rem 0;
	background: url(/asets/img/1_03.png) no-repeat center center /.52rem;
}
 .first_text{
	text-indent: 0.4rem;
	font-size: 0.24rem;
	line-height: 1.6;
}
.first h3,.second h3{
	color: red;
	font-size: 0.18rem;
	font-weight: bold;
	margin-bottom: 0.05rem;
}
.first_angular{

	margin: 0 .2rem;
	padding: 0.2rem 0;
}
.first_angular .sjx{
	width: 0.25rem;
	height: 0.2rem;
	margin: 0 auto;
	background: url(/asets/img/icon_00151.png) no-repeat center center /cover;
}
/* second */
.second,.third{
	border-bottom: 0.01rem dashed #000;
}
.second .second_img{
	display: block;
	width: 0.7rem;
	height: 0.47rem;
	margin: 0 auto;
	padding: 0.25rem 0;
	background: url(/asets/img/icon_00072.png) no-repeat center center /0.52rem;
}
.second{	
	margin: 0 .2rem;
}
.team_head{
	margin: 0 .2rem;
	background: #f2f2f2;
	border-left:0.1rem solid #b8c734;
}
.second .team .dj {
	position: relative;
}
.second .team .dj .zsj{
	display: inline-block;
    width: 0.25rem;
    height: 0.15rem;
	background: url(/asets/img/icon_0002.png) no-repeat center center /cover;
}
h1.lz,h1.hd{
	text-align: center;
	font-weight: bolder;
	font-size: 0.24rem;
	line-height: 0.6rem;
}
/* third开始 */
.third_img,.four_img{
	display: block;
	width: 0.7rem;
	height: 0.47rem;
	margin: 0 auto;
	padding: 0.3rem 0;
	background: url(/asets/img/icon_00063.png) no-repeat center center /.52rem;
}
.third p span{
	color: red;
}
.third li.jp{
	width: 20%;
	display: inline-block;
	vertical-align: middle;
}
li.jp+li.jp{
	margin-left: .2rem;
}
.third li.jp span{
	text-align: center;
	color: red;
	margin: 0.15rem 0;
}
.third li.jp .jpjt{
	width: 100%;
	height: 1.4rem;
	padding-top: 0.2rem;
	background: #d2d2d2;
}
#sq2{
	display: flex;
	/* display: none; */
	align-items: center;
	justify-content: center;
}
#sq{
	display: flex;
	/* display: none; */
	justify-content: center;
	align-items: center;
}
 #sq .zsj{
bottom: 7%;
}
/* four开始 */
.four_img{
	background: url(/asets/img/icon_00054.png) no-repeat center center /.52rem;
}
.form-field{
	background-color: #fafafa;
	padding-bottom: .4rem;
	padding: .3rem .1rem
}
.form-field form .first-line{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: .15rem;
}
.form-field form .first-line input,select{
	width: 30%;
	height: .6rem;
	display: block;
	outline: none;
	border: 1px solid #ccc;
	box-sizing: border-box;
	font-size: .12rem;
	color: #000;
	text-indent: .15rem;
}
.form-field form .first-line input:nth-child(1){
	margin-right: 1%;
}
.form-field form .first-line input:nth-child(2){
	margin-left: 1%;
}
.form-field form .first-line .select{
	margin-left: 1%;
}
.form-field form .second-line{
	display: flex;
	justify-content: center;
	align-items: center;

}
.form-field form .second-line input{
	width: 62%;
	height: .6rem;
	display: block;
	outline: none;
	border: 1px solid #ccc;
	box-sizing: border-box;
	font-size: .12rem;
	color: #000;
	text-indent: .15rem;
}
p.third-line{
	display: flex;
	justify-content: center;
	align-items: center;
}
p.third-line textarea{
	width: 94%;
	height: 1.5rem;
	border: 1px solid #ccc;
	display: block;
	text-indent: .3rem;
}
.yc{
	height: auto;
	transition: height 2s ease 2s;
}
p.f-line{
	display: flex;
	height: .6rem;
	align-items: center;
	justify-content: center;
}
p.f-line button{
	display: block;
	height:.6rem;
	width: 30%;
	text-align: center;
	line-height:  .6rem;
	outline: none;
	border: 1px solid #ccc;
	color: #fff;
	font-size: .16rem;
	background-color: #8d9453;
}
p.f-line button:last-child{
	background-color: #5d9412;
	margin-left: 3%;
}
.footer img{
	width: 100%;
	height: 100%;
	display: block;
}
.jpwz{
	font-size: 0.2rem;
	text-align: center;
}
.dj_show{
	padding: .5rem 0;
	text-align: center;
}
.showInfo.dj .yc{
	height: auto;
}
.showInfo.dj .dj_show {
	display: none;
}

.yc{
	height: 0;
	overflow: hidden;
}
.dj_show h1{
	display: inline-block;
	vertical-align: middle;
	font-size: 0.3rem;
    color: #8b9a08;

}
.dj_show span{
	display: inline-block;
	vertical-align: middle;
	width: 0.25rem;
	height: 0.15rem;
	background: url(/asets/img/icon_0003.png) no-repeat center center /cover;

}


/* more */
.form-more{
	border: 1px solid #000;
}
.form-more .kz{
	display: block;
	text-align: center;
	padding: .15rem 0;
}
.form-more form>.more-line{
	display: inline-block;
	margin: 0 .2rem;
	/* height: 0.6rem; */
	font-size: .22rem;
	margin-bottom: .1rem;
}
.form-more form>.more-line .fx{
	width: 0.3rem;
	display: inline-block;
}
.p_line button:first-of-type{
background:hsl(60, 74%, 62%) ;
cursor: pointer;
color: #000
}
.p_line button:last-of-type{
background:#9ff3b0 ;
cursor: pointer;
color: #fff
}
.form-more form .more-line input{
	width: 4rem;
	height: .6rem;
	display: inline-block;
	outline: none;
	border: 1px solid #ccc;
	box-sizing: border-box;
	font-size: .12rem;
	color: #000;
	text-indent: .15rem;
}
.form-more form .more-line select{
	display: inline-block;
	width: 20%;
	margin-right:2%; 
}
.form-more form .more-line .left-in{
	display: inline-block;
	width: 66%;
	margin-left: 26%;
	margin-top: .1rem
}
